@model IEnumerable<Mettal.Models.ViewModels.SlideViewModel>

<div id="slide-list" class="slide-list">
    <table class="table table-striped table-hover table-image">
        <thead>
            <tr>
                <th class="col-img">Фото</th>
                <th>Текст</th>
                <th style="width: 200px;">Сортировка</th>
                <th style="width: 350px;">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @Html.Partial("_SlideRow", item)
            }
        </tbody>
    </table>
</div>