@using Mettal.Models.ViewModels
@model List<SlideViewModel>

@{
    ViewBag.Title = "Слайды";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @Html.ActionLink("Добавить слайд", "Create", null, new { @class = "btn btn-default pull-right" })
        <br />
        @Html.Partial("_SlideList", Model)
    </div>
</section>

