@using Mettal.Models.ViewModels
@model IEnumerable<Mettal.Models.ViewModels.ProductSchemaViewModel>

<div id="product-schema-list">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Название</th>
                <th class="edit">Редактирование</th>
                <th class="delete">Удаление</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductSchemaViewModel schema in Model)
            {
                <tr>
                    <td>@schema.TableName</td>
                    <td>@Html.ActionLink("Изменить", "Update", new { id = schema.Id })</td>
                    <td>@Ajax.ActionLink("Удалить", "Delete", new { id = schema.Id }, new AjaxOptions { UpdateTargetId = "product-schema-list", InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "DELETE", Confirm = "Вы действительно хотите удалить?" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>