@model Mettal.Models.ViewModels.CategoryViewModel
@{
    ViewBag.Title = "Описание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="category-details">
    <div class="container">
        <h1 class="text-center">@Model.DisplayName</h1>
        <div class="html-content">
            @Html.Raw(Model.HtmlContent)
        </div>
        <div class="text-center controls">
            @Html.ActionLink("Позиции", "Positions", "Product", new { id = Model.Id }, new { @class="mbtn-primary"})
            @if (ViewBag.IsAdmin)
            {
                @Html.ActionLink("Редактировать", "Update", "Category", new { id = Model.Id }, new { @class = "mbtn-primary" })
            }
        </div>
    </div>
</div>

