@using Mettal.Models.ViewModels
@model Mettal.Models.ViewModels.TargetView

@{
    ViewBag.Title = "Назначения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">

        <h1 class="text-center">@ViewBag.Title</h1>

        @Html.Partial("_TargetCreate", new TargetViewModel())

        <div id="target-list">
            @Html.Partial("_TargetList", Model.Targets)
        </div>

    </div>
</section>

