@model Mettal.Models.ViewModels.GostViewModel

@using (Ajax.BeginForm("Create", new AjaxOptions { UpdateTargetId = "gost-list", InsertionMode = InsertionMode.Replace, OnSuccess = "$('#gost-create-input').val('');" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label sr-only" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "gost-create-input", required = "required" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-default">Добавить</button>
    </div>
}