@using Mettal.Models.ViewModels
@model ProductViewModel

@{
    ViewBag.Title = "Новая позиция";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h1 class="text-center">@ViewBag.Title</h1>
        <h2>@Model.Category.DisplayName</h2>
        @Html.Partial("_PositionForm", Model)
    </div>
</section>

