@using Mettal.Models.ViewModels
@model ProductViewModel

@{
    ViewBag.Title = "Редактирование позиции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h1 class="text-center">@ViewBag.Title</h1>
        <h3>Таблица: @Model.Category.Table.TableName</h3>
        <h3>Категория: @Model.Category.DisplayName</h3>
        @Html.Partial("_PositionForm", Model)
    </div>
</section>